@charset "UTF-8";

@import "../basic/main";



//搜索区域
.list-inputArea{
    width:100%;
    height:pxToRem(60px);
    margin-top:pxToRem(20px);
    input[type='text']{
        width: 100%;
        height:100%;
        color:#9f9f9f;
        font-size:pxToRem(18px);
    }
}

//横线
.line{
    position: relative;
    margin-top:pxToRem(20px);
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom:1px solid #bbbbbb;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        overflow: hidden; 
    }
}

//信号列表
.list{
    &-item{
        @include fj(space-around);
        align-items: center;
        width: 100%;
        margin-top:pxToRem(40px);
        padding:pxToRem(40px) 0;
        background:#fff;
        &-line{
            font-size:pxToRem(30px);
            color:#404040;
            span{
                &:nth-child(2){
                    display: block;
                    @include wh(80px,20px);
                    background:#46b95f;
                    @include borderRadius(6px);
                }
            }
        }
        &-num{
            font-size: pxToRem(30px);
            text-align: center;
            span{
                color:#b2b2b2;
                &:nth-child(2){
                    display: block;
                    font-size: pxToRem(40px);
                    color:#333;
                }
            }
        }
        &-icon{
            span{
                position: relative;
                display:inline-block;
                @include wh(80px,80px);
                border: pxToRem(6px) solid #e4805d;
                -webkit-border-radius:50%;
                -moz-border-radius:50%;
                -ms-border-radius:50%;
                border-radius: 50%;
                span{
                    @include center;
                    display:inline-block;
                    @include wh(40px,40px);
                    border: pxToRem(3px) solid #e4805d;
                    -webkit-border-radius:50%;
                    -moz-border-radius:50%;
                    -ms-border-radius:50%;
                    border-radius: 50%;
                }
            }
        }
    }
}