/*
 * @Author: sobrown 
 * @Date: 2017-09-15 10:29:23 
 * @Last Modified by: sobrown
 * @Last Modified time: 2017-09-15 14:47:25
 */

 
 @charset "UTF-8";
 
 @import "../basic/mixin";

#container{
    padding: pxToRem(20px) pxToRem(30px);
}

.report{
    &-date{
        font-size:pxToRem(18px);
        color:#5d5d5d;
        text-align: center;
        margin-top: pxToRem(20px);
    }
    &-body{
        margin-top: pxToRem(30px);
        padding:0 pxToRem(30px);
        background-color:#fff;
        @include borderRadius(10px);
        border: 1px solid #e3e3e3;
        &-title, &-summary{
            padding:pxToRem(30px) 0;
            font-size:pxToRem(26px);
            color:#666;
        }
        &-img{
            width:100%;
            height:pxToRem(300px);
            @include borderRadius(6px);
            background:url(../../../images/banner@2x.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-line{
            width: 100%;
            height: 2px;
            background:#e3e3e3;
        }
        &-all{
            @include fatherBox(row);
            @include fj(space-between);
            padding:pxToRem(30px) 0;
            font-size:pxToRem(26px);
            color:#666;
            span{
                &:nth-child(2){
                    font-weight: bold;
                    font-size:pxToRem(40px);
                    color: #000;
                }
            }
        }
    }
}